
/*=======================Content=======================*/
.list-content{
    padding: 20px;
    /* margin-bottom: 25px; */
}
.title-list{
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 15px;
    font-size: 26px;
    color: purple;
}
.nation-name{
    color: purple;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 26px;
}
.row{
    overflow: hidden;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 24px;
}
.list-item{
    height: 240px;
    margin: 0 20px 20px 0;
    min-height: 200px;
    position: relative;
    padding: 0 8px;
    float: left;
}
.list-item > a{
    text-decoration: none;
    position: relative;
    display: block;
    margin-bottom: 8px;
}
.list-item a img{
    display: block;
    width: 178px;
    height: 178px;
    transition: all .3s ease-in;
}
.list-item a:hover img{
    opacity: .65!important;
}
.list-item a:hover > .icon-play{
    opacity: 1;
    transform: scale(1);
}
.icon-play{
    position: absolute;
    display: block;
    top: 14%;
    left: 69%;
    background-image: url(../images/icon-add.png);
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    background-position: 0 -160px;
    z-index: 100;
    margin: -25px 0 0 -25px;
    transform: scale(0);
    transition: all .3s ease-in;
}
.des{
    text-align: center;
}
.title-song{
    max-height: 3em;
    overflow: hidden;
    font-weight: 400;
    font-size: 100%;
    font-family: "Roboto","segoe ui",Helvetica,Arial,sans-serif;
    line-height: 1.42857;
}
.title-song a{
    text-decoration: none;
    color: #000;
}
.title-song a:hover{
    color: #a845de;
}
.singer-name{
    font-size: 12px;
}
.singer-name a{
    text-decoration: none;
    color: #888;
}
.singer-name a:hover{
    color: #a845de;
}
.pagination{
    height: 40px;
    background: #f2f2f2;
}
.pagination ul{
    width: 100%;
    text-align: center;
}
.pagination ul li{
    display: inline-block;
    /* margin: 0 2px; */
    line-height: 40px;
}
.pagination ul li a{
    color: #888;
    line-height: 40px;
    padding: 0 15px;
    display: block;
    text-decoration: none;
}
.pagination ul li a:hover{
    background: #34495e;
    color: #fff;
}
.pagination .active{
    background: #34495e;
    color: #fff;
}